@media screen and ( max-width: 961px ) {

    .container {
        width: 750px;
        position: relative;
    }

    /* *
    *
    *   header
    *
    * */

    .logo--header {
        width: 20%;
    }

    .nav {
        width: 80%;
    }

}

@media screen and ( max-width: 801px ) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    /* *
    *
    *   header
    *
    * */

    .header {
        padding: 22px 0;
    }

    .logo--header {
        width: 140px;
        height:26px;
    }

    /* *
    *
    *   nav
    *
    * */

    .nav {
        position: absolute;
        right:15px;
        top: 50%;
        transform: translateY(-50%);
        width:30px;
    }

    .responsive-btn {
        display: block;
    }

    .nav__list {
        display: none;
    }

    .responsive-btn:checked + label.responsive-btn {
        background-color: #00abeb;
        border-radius: 2px;

    }

    .nav__list {
        display: none;
        position: absolute;
        /* open menu  */
        /*right: -15px;*/
        right: -15px;
        top: 35px;
        background: #fff;
        height: 100vh;
        box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
        will-change: right;
    }

    .responsive-btn:checked ~ .nav__list {
        display: block;
    }

    .nav__item {
        display: block;
        margin-left: 0;
    }

    .nav__item:hover:before,
    .current:before {
        background: none;
    }
    .nav__link {
        text-align: left;
        padding-left:35px;
        padding-right:35px;
    }
    .nav__link:active {
        background: #00abeb;
        color: #fff;
    }
    .page-description {
        padding: 0 20px;
    }

    .description-wrap {
    padding-bottom: 40px;
    }
    .price {
        padding: 0;
    }
    .price__item {
        width: 48%;
        margin-top: 40px;
    }
}

@media screen and ( max-width: 600px ) {

    .price__item{
      width: 100%;
      margin-top: 40px;
    }

}
